@model Web_Project.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content" style="padding-top:30px">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end text-danger text-uppercase">
                        Thông tin chi tiết
                    </div>
                    <div class="col-6 text-right">
                        <a href="@Url.Action("Edit", new { id = Model.id })" class="btn btn-sm btn-success"> <i class="fas fa-edit"></i> Edit </a>
                        <a href="@Url.Action("Index","Bill")" class="btn btn-sm btn-success"> <i class="fas fa-long-arrow-alt-left"></i> Back </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.staff_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.staff_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.member_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.member_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.reservation_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.reservation_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.table_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.table_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.payment_method)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.payment_method)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.bill_time)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.bill_time)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.total_amount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.total_amount)
                    </dd>

                </dl>
            </div>
        </div>
    </section>
</div>