@model List<Web_Project.Models.Menu>

@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/animate.css" rel="stylesheet" />
    <link href="~/Theme/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Theme/css/magnific-popup.css" rel="stylesheet" />

    <link href="~/Theme/fonts/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Theme/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/fonts/flaticons/font/flaticon.css" rel="stylesheet" />

    <!-- Theme Style -->
    <link href="~/Theme/css/style.css" rel="stylesheet" />
    <link href="~/Theme/css/menu.css" rel="stylesheet" />

</head>
<body>
    <section class="home-slider-loop-false  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('/Theme/img/media/hero_2.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>Menu</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="main-content container page-menu">
        <div class="menu-content-left">
            <ul class="menu-categories">
                @foreach (var category in Model.Select(x => x.Category).Distinct())
                {
                    <li>
                        <a href="#" id="category-link" data-category="@category.id" class="category-link">@category.name</a>
                    </li>
                }
            </ul>
        </div>

        <div class="menu-content-right">
            <div class="menu-items">
                @foreach (var menuItem in Model)
                {
                    <div class="menu-item-content" data-category="@menuItem.category_id">
                        <a href="@Url.Action("Details", "Restaurant", new { id = menuItem.id })">
                            <img src="~/Theme/img/Foods/@menuItem.img" alt="@menuItem.name" width="200" height="200" />
                            <div class="item-details">
                                <h4>@menuItem.name</h4>
                                <p class="price">Giá: @string.Format("{0:#,##0} đ", menuItem.price)</p>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>
    </div>

    <script>

        function formatCurrency(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function showFirstCategoryItems() {
            // Lấy danh sách tất cả các loại
            var categoryLinks = document.querySelectorAll('.category-link');

            // Kiểm tra xem có loại nào không
            if (categoryLinks.length > 0) {
                // Lấy ID của loại đầu tiên
                var firstCategoryId = categoryLinks[0].getAttribute('data-category');

                // Hiển thị món ăn của loại đầu tiên
                showMenuItemsByCategory(firstCategoryId);
            }
        }

        function showMenuItemsByCategory(categoryId) {
            var allMenuItems = document.querySelectorAll('.menu-item-content');

            allMenuItems.forEach(function (item) {
                item.style.display = 'none';
            });

            var selectedCategoryItems = document.querySelectorAll('.menu-item-content[data-category="' + categoryId + '"]');

            selectedCategoryItems.forEach(function (item) {
                item.style.display = 'block';
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            var categoryLinks = document.querySelectorAll('.category-link');

            categoryLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    var selectedCategoryId = link.getAttribute('data-category');
                    showMenuItemsByCategory(selectedCategoryId);
                });
            });

            // Hiển thị món ăn của loại đầu tiên khi trang web được tải
            showFirstCategoryItems();
        });
    </script>
</body>


