@model Web_Project.Models.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content" style="padding-top:30px">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end text-danger text-uppercase">
                        Xóa thông tin đặt bàn
                    </div>
                    <div class="col-6 text-right">
                        <a href="@Url.Action("Index","Reservation")" class="btn btn-sm btn-success"> <i class="fas fa-long-arrow-alt-left"></i> Back </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.reservation_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.reservation_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.customer_name)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.customer_name)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.phone_number)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.phone_number)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.table_id)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.table_id)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.quantity)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.quantity)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.reservation_time)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.reservation_time)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.reservation_date)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.reservation_date)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Note)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </section>
</div>
